.drawing-area {
  cursor: crosshair;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.drawing-area, .inactive-drawing-area {
  position: relative;
  height: 700px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.box {
  border: thin solid black;
}

.box, .inactive-box {
  -webkit-user-modify: read-write;
  position: absolute;
}

.box-highlight {
  box-shadow: 0px 0px 6px #88F;
  -moz-box-shadow: 0px 0px 6px #88F;
  -webkit-box-shadow: 0px 0px 6px #88F;
}

.deleteState {
  background-color: #ff7b7b;
  text-align: center;
}
