#call-to-action {
  margin-top: 20px;
}

#page_select > div > div {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#page_select > div > div:hover {
  background-color: #E6E6E6;
}

button {
  float: left;
  display: block;
}

button:nth-of-type(1) {
  margin-left:50px;
}

button:nth-of-type(2) {
  margin-left: 10px;
}
